@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes runway-takeoff {
    0% {
      left: 0;
      bottom: 0;
      transform: scale(1) rotate(0deg);
      opacity: 1;
    }

    60% {
      left: 75%;
      bottom: 0;
      transform: scale(1) rotate(0deg);
      opacity: 1;
    }

    100% {
      left: 100%;
      bottom: 40px;
      transform: scale(1.2) rotate(-30deg);
      opacity: 0;
    }
  }

  .animate-runway-takeoff {
    animation: runway-takeoff 2s ease-in-out forwards;
  }
}